
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');

body{
	background-color:black; 
	background-image: url('../imgs/paisa123.png');
	color: white;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}
.area_menu{ 
	text-align: center; 
}
	.bio{  
		padding-top: 10vh; 
		padding-bottom: 10vh; 
		background-color: rgba(0,0,50,0.8);
	}
		.img_perfil{
			width: 20vh; 
			border-radius: 100px;	
			border:2px solid rgb(250,250,250);
		}
		.descricao{
			color:rgb(100,200,100);	
			padding-left:1vh;
			padding-right:1vh;
			
		}
		.estudos{
			margin-top:50px;
		}
		.opcao{
			margin-right:1vh;
			cursor: pointer;
			color:white;
			transition: color 1s;
		}
		.opcao:hover{color:red;}
		.menu_opcao{
			transition: opacity 1s;
			list-style-type:none;
			position:absolute;
			padding:0;
			width: 50%;
			left:25%;
			right:25%;
			right:auto;
		}
			.topico_menu{	
				display: inline;
				margin-right:5vh;	
			}
			.topico_menu a{color: green;}
			.topico_menu a:hover{color: red;}

	.area_comum{
		overflow:hidden;
		text-align: center;
		background-color: rgba(0,0,50,0.6);
	} 
		.projetos{
			display: flex;	
			flex-wrap: nowrap; 
			overflow-x: scroll;
			overflow-y: hidden;

		}
			.projeto{
				margin:3px
			}

			iframe{
				background-color:white;
			}



