body{background-color:black; color: white;margin: 0;}
.area_principal{display: flex; flex-wrap: wrap; justify-content: center; height: 100%;}
.bio{text-align:center;padding: 50px; background-color: rgb(0,0,50);position:relative;top: 0px;left: 0px;border-right:2px solid rgb(255,255,255);}
.img_perfil{width: 200px; border-radius: 100px;box-shadow: 2px 2px 10px #000;border:2px solid rgb(0,0,50);}
.estudos{margin-top:50px;text-align:center;}
.estudos nav{margin-bottom:15px;}
a{color: white}
a:hover{color: red;}
iframe{background-color:white;}
.topico{ width: 10px;}
.area_comum{margin-left:10px;} 
.projetos{display: flex;flex-wrap: wrap; overflow-x: scroll;overflow-y: hidden; white-space: nowrap;}
.projeto{margin:3px}
